<div fxLayout="row wrap">
  <div fxFlex.gt-md="50" fxFlexOffset.gt-md="25" fxFlex.lt-md="90">
    <mat-card>
      <div fxLayout="row wrap">
        <div fxFlex="50">
          <h1 class="mat-headline">Events</h1>
        </div>
        <div fxFlex="50">
          <button mat-raised-button class="right" color="primary" (click)="createEvent()" *ngIf="!this.create"><i class="material-icons">create</i> Create Event</button>
        </div>
      </div>
      <mat-divider></mat-divider>
      <form [formGroup]="eventForm" (ngSubmit)="saveEvent()" *ngIf="this.create" class="eventForm">
        <div fxLayout="row wrap" fxLayoutGap="20px">
          <div fxFlex.gt-md="calc(25%-20px)">
            <mat-form-field class="full-width">
              <mat-label>Event Type</mat-label>
              <mat-select formControlName="type">
                <mat-option *ngFor="let type of types" [value]="type.value">
                  {{type.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex.gt-md="calc(75%-20px)">
              <mat-form-field class="full-width">
                <mat-label>Event Name</mat-label>
                <input matInput formControlName="name">
              </mat-form-field>
            </div>
        </div>
        <div fxLayout="row wrap" fxLayoutGap="20px">
          <div fxFlex.gt-md="calc(25%-20px)" *ngIf="this.eventForm.value.type !== 1">
            <mat-form-field class="full-width">
              <input matInput [matDatepicker]="picker" placeholder="Choose a date" formControlName="date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          <div fxFlex="calc(25%-20px)">
            <mat-form-field class="full-width">
              <mat-label>Start Time</mat-label>
              <mat-select formControlName="startTime">
                <mat-option *ngFor="let time of times" [value]="time.value">
                  {{time.text}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div fxFlex="calc(25%-20px)">
              <mat-form-field class="full-width">
                <mat-label>End Time</mat-label>
                <mat-select formControlName="endTime">
                  <mat-option *ngFor="let time of times" [value]="time.value">
                    {{time.text}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div fxFlex="calc(25%-20px)">
      
                  <mat-label>All Day - </mat-label>
                  <mat-checkbox class="example-margin" (change)="checkValue($event)">Checked</mat-checkbox>
            
              </div>
          <div fxFlex="calc(100%-20px)">
            <mat-form-field class="full-width">
              <mat-label>Event Description</mat-label>
              <textarea matInput formControlName="description"></textarea>
            </mat-form-field>
          </div>
          <div fxFlex.gt-md="10%" fxFlex.lt-md="30%">
            <button mat-raised-button color="primary" type="submit"><i class="material-icons">done</i> Save</button>
          </div>
          <div fxFlex.gt-md="10%" fxFlex.lt-md="30%">
            <button mat-raised-button color="accent" (click)="this.create = false && this.id = null" *ngIf="this.create"><i class="material-icons">close
            </i> Hide</button>
          </div>
          <div fxFlex="20">
            <mat-spinner [diameter]="30" *ngIf="this.loading"></mat-spinner>
          </div>
        </div>
      </form>
      <div fxLayout="row wrap" fxLayoutAlign="center center" class="currentEvents">
        <div fxFlex="15">
          <mat-spinner [diameter]="30" *ngIf="this.loadingEvents"></mat-spinner>
        </div>
        <div fxFlex="100" *ngIf="!this.loadingEvents">
          <mat-action-list>
            <button mat-list-item *ngFor="let event of eventList" (click)="getEvent(event.id)">
              <mat-icon mat-list-icon>event_note</mat-icon>
              <h4 mat-line>{{event.title}}</h4>
              <p mat-line> {{event.date | date}} - {{event.date |date : 'shortTime'}} </p>
            </button>
          </mat-action-list>
        </div>
      </div>
    </mat-card>
  </div>
</div>
