<div fxLayout="row wrap">
  <div fxFlex.gt-md="50" fxFlexOffset.gt-md="25" fxFlex.lt-md="90">
    <mat-card>
      <div fxLayout="row wrap">
        <div fxFlex="50">
          <h1 class="mat-headline">About</h1>
        </div>   
      </div>
      <mat-divider></mat-divider>
      <form [formGroup]="aboutForm" (ngSubmit)="saveAbout()">
          <div fxLayout="row wrap" fxLayoutGap="20px">
            <div fxFlex="calc(100%-20px)">
              <editor apiKey="3aqchid463ppkgud4zmpuzlf5e2u06zcy3xl0dzhizuw6949" [init]="{plugins: 'link'}" formControlName="one"></editor>
            </div>
            <div fxFlex="calc(100%-20px)">
                <editor apiKey="3aqchid463ppkgud4zmpuzlf5e2u06zcy3xl0dzhizuw6949" [init]="{plugins: 'link'}" formControlName="two"></editor>
              </div>
              <div fxFlex.gt-md="10%" fxFlex.lt-md="30%">
                  <button mat-raised-button color="primary" type="submit"><i class="material-icons">done</i> Save</button>
                </div>
          </div>
      </form>
    </mat-card>
  </div>
</div>