full-width {
    width: 100%;
  }
  .imgForm {
    margin: 20px 0 0;
  }
  h1 {
    color: rgba(0,0,0,0.86);
    text-shadow: none;
    margin: 0;
  }
  .mat-divider {
    border-top-color: rgba(0,0,0,0.56);
  }
  .imgBtns {
    margin: 15px 0;
  }
.igImg {
    max-width: 100px;
  }