<div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
  <div fxFlex.gt-md="30" fxFlex.lt-md="90">
    <mat-card>
      <mat-card-content>
        <h1 class="mat-display-1" class="blue">Welcome to The Nugget</h1>
        <div [innerHTML]="c1" class="htmlDiv"></div>
      </mat-card-content>
    </mat-card>
  </div>
  <div fxFlex.gt-md="40" fxFlex.lt-md="90">
    <mat-card style="overflow: hidden; height: 376px">
      <img mat-card-image [src]="imgOne">
    </mat-card>
  </div>
</div>
<div fxLayout="row wrap" fxLayoutGap="20px" fxLayoutAlign="center center">
  <div fxFlex.gt-md="40" fxFlex.lt-md="90" fxFlexOrder.lt-md="2">
    <mat-card style="height: 396px; overflow: hidden">
      <img mat-card-image [src]="imgTwo" style="width: 634px">
    </mat-card>    
  </div>
  <div fxFlex.gt-md="30" fxFlex.lt-md="90" fxFlexOrder.lt-md="1">
    <mat-card>
      <mat-card-content>
          <div [innerHTML]="c2" class="htmlDiv"></div>
      </mat-card-content>
    </mat-card>
  </div>
</div>
<!--



  <div fxFlex="40">
    
    
  </div>
    
    <mat-card>
      
    </mat-card>



















  <div fxFlex.gt-md="30" fxFlexOffset.gt-md="15" fxFlex.lt-md="100" fxFlexOrder.lt-md="3" class="aboutContainer">

    <mat-card>
      <mat-card-content>
        <div class="padMore">
          
        </div>
      </mat-card-content>
    </mat-card>

    <mat-divider></mat-divider>

  </div>

  <div fxFlex.gt-md="40" fxFlex.lt-md="100" fxFlexOrder.lt-md="4" class="aboutContainer">

    

  </div>

</div>
-->