<!--HOME COMPONENT-->
<app-home-view></app-home-view>

<div class="bg">

  <!--ABOUT COMPONENT-->
  <div class="about" id="About">
    <app-about-view></app-about-view>
  </div>

    <!--MENU COMPONENT-->
<!--  <div id="Menu">
    <app-menu-view></app-menu-view>
  </div>-->

  <!--EVENT COMPONENT-->
<!--  <div fxLayout="row wrap" fxLayoutAlign="center center" id="Events" >-->
<!--    <div fxFlex="100" class="centerTxt" style="padding-bottom: 20px">-->
<!--      <h1 class="mat-display-1 no-top" class="orange">Upcoming Events</h1>-->
<!--    </div>-->
<!--    <div fxFlex.gt-md="40" fxFlex.lt-md="90">-->
<!--      <app-event-view></app-event-view>-->
<!--    </div>-->
<!--  </div>-->

<!--</div>-->

<!--IMAGE COMPONENT-->
<!--<div class="events" id="Media">
  <app-media-view></app-media-view>
</div>-->

<!--IMAGE COMPONENT-->
<!--
<div class="events" id="Gallery">
  <app-image-view></app-image-view>
</div>
-->

<div class="bg">

  <app-location-view></app-location-view>

  <footer>

  </footer>
</div>






























<!--
  <div fxFlex="100" class="eventsContainer">

    <h1 class="mat-display-1 no-top" class="orange" style="padding-bottom: 20px">Media</h1>

    <div fxLayout>

      <div fxFlex.gt-md="40" fxFlex.lt-md="80" fxFlexOffset.gt-md="30" fxFlexOffset.lt-md="10">

        <mat-card>

          <mat-card-content>

            <h1 class="mat-headline"><strong>"A Golden Opportunity"</strong></h1>

            <h2 class="mat-title">The Nugget reborn as the north county's newest hot spot</h2>

            <p class="mat-body"><a class="grey" href="https://www.durangotelegraph.com/second-section/features/a-golden-opportunity/" target="_blank">Read more about what the Durango Telegraph has to say about The Nugget Mountain Bar</a></p>

          </mat-card-content>

        </mat-card>

      </div>

    </div>

  </div>






<div fxLayout.gt-md="row wrap" fxLayout.lt-md="column" id="Shuttle">

  <div fxFlex="100" class="eventsContainer">

    <h1 class="mat-display-1 no-top" class="orange" style="padding-bottom: 20px">Complimentary Shuttle</h1>

    <div fxLayout>

      <div fxFlex.gt-md="40" fxFlex.lt-md="80" fxFlexOffset.gt-md="30" fxFlexOffset.lt-md="10">

        <mat-card class="btmIndex">

          <img mat-card-image src="../assets/images/shuttle.jpg" alt="Photo of a Shiba Inu">

          <mat-card-content>
            <p>
              <strong>The Nugget Mountain Bar</strong> provides a complimentary shuttle to and from Purgatory Resort and within a 5 mile radius. Friday - Sunday and Holidays.
            </p>

            <p><strong>Call (970)-749-4412 to schedule a ride.</strong></p>

          </mat-card-content>

        </mat-card>

      </div>

    </div>

  </div>

</div>






  <div fxLayout.gt-md="row wrap" fxLayout.lt-md="column" id="Media">
    <div fxFlex="100" class="eventsContainer">
        <h1 class="mat-display-1 no-top" class="orange" style="padding-bottom: 20px">Media</h1>
        <div fxLayout>
          <div fxFlex.gt-md="40" fxFlex.lt-md="80" fxFlexOffset.gt-md="30" fxFlexOffset.lt-md="10">
            <mat-card>
              <mat-card-content>
                <h1 class="mat-headline"><strong>"A Golden Opportunity"</strong></h1>
                <h2 class="mat-title">The Nugget reborn as the north county's newest hot spot</h2>
                <p class="mat-body"><a class="grey" href="https://www.durangotelegraph.com/second-section/features/a-golden-opportunity/" target="_blank">Read more about what the Durango Telegraph has to say about The Nugget Mountain Bar</a></p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>


-->
